@media(max-width:1024px) {
    .top {
        height: 260px;
    }
    .photo {
        height: 260px;
    }
    .copy-container h1 {
        font-size: 14px;
    }
    .copy-container h2 {
        font-size: 12px;
    }
    .copy-container h3 {
        font-size: 10px;
    }
    .copy-container p {
        font-size: 8px;
    }
    .copy-container {
        height: 250px;
        top:240px;
    }
}